body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Arcade";
  src: url("../assets/arcade_n-webfont.woff2") format("woff2"), url("../assets/arcade_n-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karmatic Arcade";
  src: url("../assets/ka-webfont.woff2") format("woff2"), url("../assets/ka-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.charles-schwab {
  color: #04a0de;
}

.e-trade {
  color: #5627d8;
}

.fidelity {
  color: #568200;
}

.interactive-brokers {
  color: #da1322;
}

.robinhood {
  color: #5ac33a;
}

.td-ameritrade {
  color: #40a829;
}

nav {
  position: relative;
  height: 30px;
}
nav #player-1, nav #player-2 {
  position: absolute;
  margin: 15px;
  font-size: 100%;
  color: #999;
}
nav #player-1.active, nav #player-1:hover, nav #player-2.active, nav #player-2:hover {
  color: magenta;
}
nav #player-1:hover, nav #player-2:hover {
  cursor: pointer;
}
nav #player-1 {
  left: 5px;
}
nav #player-2 {
  right: 5px;
  text-align: right;
}
nav #insert-coin {
  position: absolute;
  top: 15px;
  left: 42%;
  font-size: 140%;
  animation: blinky 2s infinite;
}
@keyframes blinky {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  nav {
    font-size: 65%;
  }
}
@media (max-width: 800px) {
  nav {
    font-size: 55%;
  }
}
@media (max-width: 414px) {
  nav {
    position: relative;
  }
  nav #player-1, nav #player-2 {
    position: relative;
    margin: 15px;
  }
  nav #player-1 {
    text-align: left;
  }
  nav #player-2 {
    text-align: left;
  }
  nav #insert-coin {
    display: none;
  }
}
header {
  margin: 100px 0 0 0;
  font-family: "Karmatic Arcade";
}
header h1 {
  margin-bottom: 35px;
  color: yellow;
  font-size: 500%;
}
header h1 .p1 {
  color: red;
}
header h1 .p2 {
  color: orange;
}
header h1 .p3 {
  color: green;
}
header h1 .p4 {
  color: blue;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 550%;
  }
}
header h2 {
  margin-bottom: 60px;
  color: magenta;
  font-size: 200%;
}

.leaderboard {
  margin: 0 auto 40px auto;
  width: 92%;
}
.leaderboard .winner {
  margin: 0 auto 40px auto;
  font-size: 100%;
}
.leaderboard .winner h3 {
  margin-bottom: 25px;
  font-family: "Karmatic Arcade";
  font-size: 300%;
  line-height: 140%;
}
.leaderboard .winner p {
  width: 40%;
  margin: 0 auto;
  color: #fff;
  line-height: 140%;
}
.leaderboard table {
  width: 100%;
  margin: 0 auto 40px auto;
  font-size: 190%;
}
.leaderboard table#retail-brokers {
  display: table;
}
.leaderboard table#retail-brokers-ex-exchanges {
  display: table;
}
.leaderboard table#market-makers {
  display: table;
  color: #fff;
}
.leaderboard table thead {
  color: magenta;
}
.leaderboard table thead tr {
  height: 50px;
}
.leaderboard table thead tr th:first-child {
  width: 10%;
  text-align: center;
}
.leaderboard table thead tr th:nth-child(2) {
  width: 50%;
  padding-left: 30px;
  text-align: left;
}
.leaderboard table thead tr th:last-child {
  width: 40%;
  text-align: right;
}
.leaderboard table tbody tr {
  height: 50px;
}
.leaderboard table tbody tr td:first-child {
  text-align: center;
  color: magenta;
}
.leaderboard table tbody tr td:nth-child(2) {
  padding-left: 30px;
  text-align: left;
}
.leaderboard table tbody tr td:last-child {
  text-align: right;
}
@media (max-width: 800px) {
  .leaderboard table tbody tr {
    height: 25px;
  }
}
.leaderboard #exclude-exchanges {
  margin: 0 auto 40px auto;
  font-size: 110%;
  line-height: 140%;
}
.leaderboard #exclude-exchanges h4 {
  margin: 0 auto 10px auto;
  font-size: 120%;
}
.leaderboard #exclude-exchanges h4:hover {
  cursor: pointer;
}
.leaderboard .details {
  margin: 0 auto 25px auto;
  color: #999;
  font-size: 80%;
  line-height: 160%;
}

footer {
  margin-bottom: 100px;
}
footer .game-over {
  margin: 70px auto;
  font-family: "Karmatic Arcade";
  font-size: 400%;
  color: yellow;
}
footer .credits {
  margin-bottom: 50px;
  color: #999;
}
footer .credits h5 {
  width: 50%;
  margin: 0 auto 25px auto;
  font-size: 150%;
}
footer .credits p {
  line-height: 160%;
}
footer .credits p a {
  color: inherit;
  text-decoration: none;
}
footer .credits p a:hover {
  color: #fff;
  text-decoration: none;
}
footer .social {
  margin-bottom: 30px;
}
.starfield {
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 200px 200px;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Arcade";
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1366px) {
  .container {
    width: 1024px;
    padding: 20px;
  }
}
@media (min-width: 1366px) {
  .container {
    width: 1366px;
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100%;
    font-size: 50%;
  }
}
@media (max-width: 414px) {
  .container {
    width: 100%;
    font-size: 30%;
  }
}

/*# sourceMappingURL=styles.css.map */
