
@use 'breakpoints';
@use 'type';
@use 'colors';

header {
    
    margin: 100px 0 0 0;
    width: 98%;
    font-family: type.$headline-font;

    h1 {
        margin-bottom: 35px;
        color: colors.$primary;
        font-size: 500%;
        line-height: 110%;
        text-shadow: rgba(colors.$primary, colors.$glow-opacity) 0px 0px colors.$glow-blur;

        .p1 {
            color: colors.$accent-1;
            text-shadow: rgba(colors.$accent-1, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        }
        .p2 {
            color: colors.$accent-2;
            text-shadow: rgba(colors.$accent-2, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        }
        .p3 {
            color: colors.$accent-3;
            text-shadow: rgba(colors.$accent-3, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        }
        .p4 {
            color: colors.$accent-4;
            text-shadow: rgba(colors.$accent-4, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        } 
    }

    h2 {
        margin-bottom: 60px;
        color: colors.$accent-2;
        text-shadow: rgba(colors.$accent-2, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        font-size: 200%;
    }
}

@media (max-width: breakpoints.$large) {
    header {

        margin: 80px 0 0 0;

        h1 {
            margin-bottom: 20px;
            font-size: 350%;
        }
    }
}

@media (max-width: breakpoints.$medium) {
    header {

        margin: 50px 0 0 0;

        h1 {
            margin-bottom: 20px;
            font-size: 350%;
        }
        h2 {
            margin-bottom: 40px;
            font-size: 190%;
        }
    }
}

@media (max-width: breakpoints.$small) {
    header {

        margin: 50px 0 0 0;

        h1 {
            margin-bottom: 10px;
            font-size: 180%;
        }
        h2 {
            margin-bottom: 30px;
            font-size: 130%;
        }
    }
}