
@use 'breakpoints';
@use 'type';
@use 'colors';

header {
    
    margin: 100px 0 0 0;
    font-family: type.$headline-font;

    h1 {
        margin-bottom: 35px;
        color: colors.$primary;
        font-size: 500%;

        .p1 { color: colors.$accent-1; }
        .p2 { color: colors.$accent-2; }
        .p3 { color: colors.$accent-3; }
        .p4 { color: colors.$accent-4; }  
    }
    
    @media (max-width: breakpoints.$medium) {
        h1 {
            font-size: 550%;
        }
    }

    h2 {
        margin-bottom: 60px;
        color: colors.$secondary;
        font-size: 200%;
    }
}