
@use 'breakpoints';
@use 'type';
@use 'colors';

.leaderboard {

    margin: 0 auto 40px auto;
    width: 92%;

    .winner {

        margin: 0 auto 40px auto;
        font-size: 100%;

        h3 {
            margin-bottom: 25px;
            font-family: type.$headline-font;
            font-size: 300%;
            line-height: 140%;
        }

        p {
            width: 40%;
            margin: 0 auto;
            color: colors.$fg;
            line-height: 140%;
        } 
    }

    table {

        &#retail-brokers { display: table; }
        &#retail-brokers-ex-exchanges { display: table; }
        &#market-makers { display: table; color: colors.$fg; }

        width: 100%;
        margin: 0 auto 40px auto;
        font-size: 190%;

        thead {
            
            color: colors.$secondary;
            
            tr {
                height: 50px;
                th:first-child {
                    width: 10%;
                    text-align: center;
                }
                th:nth-child(2) {
                    width: 50%;
                    padding-left: 30px;
                    text-align: left;
                }
                th:last-child {
                    width: 40%;
                    text-align: right;
                }
            }
        }
        tbody {

            tr {
                height: 50px;

                td:first-child {
                    text-align: center;
                    color: colors.$secondary;
                }
                td:nth-child(2) {
                    padding-left: 30px;
                    text-align: left;
                }
                td:last-child {
                    text-align: right;
                }
            }
        }

        @media (max-width: breakpoints.$medium) {
            tbody {
                tr {
                    height: 25px;
                }
            }
        }
    }

    #exclude-exchanges {

        margin: 0 auto 40px auto;
        font-size: 110%;
        line-height: 140%;

        h4 {
            margin: 0 auto 10px auto;
            font-size: 120%;

            &:hover {
                cursor: pointer;
            }
        }     
    }

    .details {
        margin: 0 auto 25px auto;
        color: colors.$lowlight;
        font-size: 80%;
        line-height: 160%;
    }
}