
@use 'breakpoints';
@use 'type';
@use 'colors';

nav {

    position: relative;
    height: 30px;
    
    #player-1, #player-2 {
        position: absolute;
        margin: 15px;
        font-size: 100%;
        color: colors.$lowlight;

        &.active, &:hover {
            color: colors.$secondary;
        }

        &:hover {
            cursor: pointer;
        }
    }
    #player-1 { left: 5px; }
    #player-2 {
        right: 5px;
        text-align: right; 
    }
    
    #insert-coin {
        position: absolute;
        top: 15px;
        left: 42%;
        font-size: 140%;
        animation: blinky 2.0s infinite;
    }

    @keyframes blinky {
        0% {
            opacity: 1.0;
        }
        50% {
            opacity: 1.0
        }
        51% {
            opacity: 0.0
        }
        100% {
            opacity: 0.0;
        }
    }
}

@media (max-width: breakpoints.$large) {
    nav {
        font-size: 65%;
    }
}

@media (max-width: breakpoints.$medium) {
    nav {
        font-size: 55%;
    }
}

@media (max-width: breakpoints.$small) {
    nav {
        position: relative;

        #player-1, #player-2 {
            position: relative;
            margin: 15px;
        }
        #player-1 {
            text-align: left; 
        }
        #player-2 {
            text-align: left; 
        }

        #insert-coin {
            display: none;
        }
    }
}
