
@use 'reset';
@use 'breakpoints';
@use 'type';
@use 'colors';
@use 'nav';
@use 'header';
@use 'leaderboard';
@use 'footer';
@use 'effects';

body {
  background-color: colors.$bg;
  color: colors.$fg;
  font-family: type.$body-font;
}
a { color: inherit; text-decoration: none; }

.container {
  margin: 0 auto;
  text-align: center;
}

// S
@media (max-width: breakpoints.$small) {
  .container {
    font-size: 80%;
  }
}

// M 
@media (max-width: breakpoints.$medium) {
  .container {
    font-size: 80%;
  }
}

// L
@media (max-width: breakpoints.$large) {
  .container {
    //width: breakpoints.$medium;
    font-size: 80%;
  }
}
// XL
@media (min-width: breakpoints.$large) {
  .container {
    //width: breakpoints.$xlarge;
    font-size: 80%;
  }
}