
@use 'reset';
@use 'breakpoints';
@use 'type';
@use 'colors';
@use 'nav';
@use 'header';
@use 'leaderboard';
@use 'footer';
@use 'effects';

body {
  background-color: colors.$bg;
  color: colors.$fg;
  font-family: type.$body-font;
}
a { color: inherit; text-decoration: none; }

.container {
  margin: 0 auto;
  text-align: center;
}

// JUMBO
@media (min-width: breakpoints.$xlarge) {
  .container {
    width: breakpoints.$large;
    padding: 20px;
  }
}

// XL
@media (min-width: breakpoints.$xlarge) {
  .container {
    width: breakpoints.$xlarge;
    padding: 20px;
  }
}

// L
@media (max-width: breakpoints.$large) {
  .container {
    width: 100%;
  }
}

// M
@media (max-width: breakpoints.$medium) {
  .container {
    width: 100%;
    font-size: 50%;
  }
}

// S
@media (max-width: breakpoints.$small) {
  .container {
    width: 100%;
    font-size: 30%;
  }
}