
@use 'reset';
@use 'breakpoints';
@use 'type';
@use 'colors';
@use 'nav';
@use 'header';
@use 'leaderboard';
@use 'footer';
@use 'effects';

body {
  background-color: colors.$bg;
  color: colors.$fg;
  font-family: type.$body-font;
}
a { color: inherit; text-decoration: none; }

.container {
  margin: 0 auto;
  text-align: center;
}


@media (min-width: breakpoints.$large) {
  .container {
    width: breakpoints.$large;
  }
}
@media (max-width: breakpoints.$large) {
  .container {
    width: breakpoints.$large;
  }
}
@media (max-width: breakpoints.$medium) {
  .container {
    width: 800px;
    font-size: 50%;
  }
}
@media (max-width: breakpoints.$small) {
  .container {
    width: 100%;
    font-size: 40%;
  }
}