
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<title>PFOF.org | PFOF Champions!! | Payment for Order Flow Leaderboard</title>

<link rel="stylesheet" href="css/styles.css?v=2">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->
<script src="https://cdn.usefathom.com/script.js" data-site="NBFXHIMV" defer></script>

</head>

<body class="starfield">

<nav>
    <div id="player-1" v-on:click="select" v-bind:class="[isActive ? 'active' : 'inactive']">
        [{{ flag }}] Player 1: Retail Brokers
    </div>
    <div id="insert-coin">Insert Coin</div>
    <div id="player-2" v-on:click="select" v-bind:class="[isActive ? 'active' : 'inactive']">
        [{{ flag }}] Player 2: Market Makers
    </div>
</nav>

<div class="container">

<header>
    <h1>P<span class="p1">.</span>F<span class="p2">.</span>O<span class="p3">.</span>F<span class="p4">.</span> Champions!!</h1>
    <h2>Payment for Order Flow</h2>
</header>

<section class="leaderboard">

    <section class="winner">
        <h3 class="td-ameritrade">Congratulations TD Ameritrade!!!</h3>
        <p>
            You made the most money selling 
            your customers' orders to 
            high frequency traders and hedge funds! 
        </p>
    </section>

    <table id="retail-brokers" v-if="isVisible">
        <thead>
            <th class="rank">Rank</th>
            <th class="name">Name</th>
            <th class="net-payments">Net Received Q1</th>
        </thead>
        <tbody>
            <tr class="td-ameritrade">
                <td>1.</td>
                <td>TD Ameritrade</td>
                <td>$182,648,749</td>
            </tr>
            <tr class="robinhood">
                <td>2.</td>
                <td><a href="https://robinhood.com/" target="_blank">Robinhood</a></td>
                <td>$133,133,153</td>
            </tr>
            <tr class="e-trade">
                <td>3.</td>
                <td>E*Trade</td>
                <td>$57,652,407</td>
            </tr>
            <tr class="charles-schwab">
                <td>4.</td>
                <td>Charles Schwab</td>
                <td>$33,762,659</td>
            </tr>
            <tr class="fidelity">
                <td>5.</td>
                <td>Fidelity</td>
                <td>$16,186,271</td>
            </tr>
            <tr class="interactive-brokers">
                <td>6.</td>
                <td>Interactive Brokers</td>
                <td>$14,200,741</td>
            </tr>
        </tbody>
    </table>

    <table id="retail-brokers-ex-exchanges" v-if="isVisible">
        <thead>
            <th class="rank">Rank</th>
            <th class="name">Name</th>
            <th class="net-payments">Net Received Q1</th>
        </thead>
        <tbody>
            <tr class="td-ameritrade">
                <td>1.</td>
                <td>TD Ameritrade</td>
                <td>$182,648,749</td>
            </tr>
            <tr class="robinhood">
                <td>2.</td>
                <td>Robinhood</td>
                <td>$133,133,153</td>
            </tr>
            <tr class="e-trade">
                <td>3.</td>
                <td>E*Trade</td>
                <td>$57,832,307</td>
            </tr>
            <tr class="charles-schwab">
                <td>4.</td>
                <td>Charles Schwab</td>
                <td>$33,523,021</td>
            </tr>
            <tr class="interactive-brokers">
                <td>5.</td>
                <td>Interactive Brokers</td>
                <td>$1,051,497</td>
            </tr>
            <tr class="fidelity">
                <td>6.</td>
                <td>Fidelity</td>
                <td>$0</td>
            </tr>
        </tbody>
    </table>

    <table id="market-makers" v-if="isVisible">
        <thead>
            <th class="rank">Rank</th>
            <th class="name">Name</th>
            <th class="net-payments">Net Received Q1</th>
        </thead>
        <tbody class="market-makers">
            <tr class="citadel">
                <td>1.</td>
                <td>Citadel</td>
                <td>$256,020,421</td>
            </tr>
            <tr class="virtu">
                <td>2.</td>
                <td>Virtu</td>
                <td>$162,151,796</td>
            </tr>
            <tr class="two-sigma">
                <td>3.</td>
                <td>Two Sigma</td>
                <td>$64,640,712</td>
            </tr>
            <tr class="g1">
                <td>4.</td>
                <td>G1</td>
                <td>$55,882,265</td>
            </tr>
            <tr class="ubs">
                <td>5.</td>
                <td>UBS</td>
                <td>$43,589,617</td>
            </tr>
            <tr class="nasdaq exchange">
                <td>6.</td>
                <td>NASDAQ</td>
                <td>$21,488,270</td>
            </tr>
            <tr class="cboe-edgx exchange">
                <td>7.</td>
                <td>Cboe EDGX</td>
                <td>$10,622,674</td>
            </tr>
            <tr class="wolverine">
                <td>8.</td>
                <td>Wolverine</td>
                <td>$8,372,765</td>
            </tr>
            <tr class="nyse exchange">
                <td>9.</td>
                <td>NYSE</td>
                <td>$3,751,455</td>
            </tr>
            <tr class="jane-street-capital">
                <td>10.</td>
                <td>Jane Street Capital</td>
                <td>$179,900</td>
            </tr>
            <tr class="cboe-byx exchange">
                <td>11.</td>
                <td>Cboe BYX</td>
                <td>$79,198</td>
            </tr>
            <tr class="national-financial-services">
                <td>12.</td>
                <td>Nat'l Fin. Svcs. </td>
                <td>$0</td>
            </tr>
            <tr class="ibkr-ats">
                <td>13.</td>
                <td>IBKR ATS</td>
                <td>$0</td>
            </tr>
            <tr class="memx exchange">
                <td>13.</td>
                <td>MEMX</td>
                <td>-$6,547</td>
            </tr>
            <tr class="iex exchange">
                <td>14.</td>
                <td>IEX</td>
                <td>-$202,744</td>
            </tr>
            <tr class="nyse-arca exchange">
                <td>15.</td>
                <td>NYSE ARCA</td>
                <td>-$2,619,478</td>
            </tr>
        </tbody>
    </table>

    <section id="exclude-exchanges" v-if="isVisible">
        <h4 v-on:click="toggle">
            [{{ flag }}] Exclude payments from exchanges:
        </h4>
        <p>
            NYSE, NYSE ARCA, NASDAQ, CBOE EDGX, CBOE BYX, IEX, MEMX
        </p>
    </section>

    <section class="details">
        <p>
            Net payment paid/received for Q1 2021
        </p>
        <p>
            S&P 500 and non-S&P 500 Stocks
        </p>
        <p>
            All Order Types
        </p>
        <p>
            Options not included
        </p>
    </section>

</section>

<footer>

    <section class="game-over">
        <h4>Game Over</h4>
    </section>

    <section class="credits">
        <h5>Credits</h5>
        <p><a href="https://www.schwab.com/legal/order-routing-1" target="_blank">Charles Schwab</a></p>
        <p><a href="https://us.etrade.com/l/quarterly-order-routing-report" target="_blank">E*Trade</a></p>
        <p><a href="https://clearingcustody.fidelity.com/app/item/RD_13569_21696/sec-rule-606.html" target="_blank">Fidelity</a></p>
        <p><a href="https://www.interactivebrokers.com/en/index.php?f=563" target="_blank">Interactive Brokers</a></p>
        <p><a href="https://robinhood.com/us/en/about/legal/" target="_blank">Robinhood</a></p>
        <p><a href="https://www.tdameritrade.com/disclosure.html" target="_blank">TD Ameritrade</a></p>
    </section>

    <section class="social">
        <a href="https://twitter.com/PFOFChamps" target="_blank">@PFOFChamps</a>
    </section>

    <section class="tips">
        BTC | ETH
    </section>
     
</footer>

</div>

<script src="scripts/main.js"></script>

</body>
</html>