
@use 'breakpoints';
@use 'colors';

nav {

    position: relative;
    height: 30px;
    
    #player-1, #player-2 {
        position: absolute;
        margin: 15px;
        font-size: 100%;
        color: colors.$lowlight;
        text-shadow: rgba(colors.$lowlight, colors.$glow-opacity) 0px 0px colors.$glow-blur;

        &.active, &:hover {
            color: colors.$accent-1;
            text-shadow: rgba(colors.$accent-1, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        }

        &:hover {
            cursor: pointer;
        }
    }
    #player-1 { left: 5px; }
    #player-2 {
        right: 5px;
        text-align: right; 
    }
    
    #insert-coin {
        position: absolute;
        top: 15px;
        left: 41%;
        font-size: 140%;
        text-shadow: rgba(colors.$fg, colors.$glow-opacity) 0px 0px colors.$glow-blur;
        cursor: pointer;
        animation: blinky 2.0s infinite;
    }

    @keyframes blinky {
        0% {
            opacity: 1.0;
        }
        50% {
            opacity: 1.0
        }
        51% {
            opacity: 0.0
        }
        100% {
            opacity: 0.0;
        }
    }
}

@media (max-width: breakpoints.$large) {
    nav {
        font-size: 65%;
    }
}

@media (max-width: breakpoints.$medium) {
    nav {
        font-size: 55%;

        #insert-coin {
            display: none;
        }
    }
}

@media (max-width: breakpoints.$small) {
    nav {

        #player-2 {
            left: 5px;
            top: 15px;
        }

        #insert-coin {
            display: none;
        }
    }
}
